.container {
    width: 1510px;
    height: 700px;
    border: 1px solid black;
    background-color: lightblue;
    border-radius: 5px;
    overflow: hidden; /* Para evitar que el contenido sobresalga */
  }
  
  .top-bar {
    background-color: white;
    height: 50px;
    border: 1px solid black;
    margin: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center; /* Centra verticalmente el texto */
    padding: 0 10px; /* Espacio interior */
  }
  
  .top-bar span {
    font-size: 14px;
  }
  
  .left {
   
  }
  
  .right {
    
  }
  
  .content {
    padding: 10px;
  }
  
